mat-toolbar {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    color: white;
  }
  mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }
   .content {
   height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
   
    /*justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    color: lightgray;*/
  } 
  mat-sidenav-container {
    height: calc(100vh - 65px);
  }
  .menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
  }
  .menu-button mat-icon {
    margin-right: 8px;
  }
  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  .logged {
    margin-top: 2px;
    font-size: 1.0rem;
    font-weight: 600;
    color: lightgrey;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  