
<body>
    <br>
    <!-- <span ><div style ='color: #311B92;  padding:5px;'><h3 style=" text-align: center; font-family : cursive;">{{alertMsg}}</h3></div></span> -->
    <div class="box"  *ngFor ="let student of students;let i=index;">
        <div class="card mb-3">
          <div class="row g-0 " >
            <div class="col-md-4 d-flex flex-column align-items-center">
              <img
                src="{{student.photo}}"
                alt="..."
                class="img-fluid mt-5 p-2"
                style="width:100px;"
              />
            </div>
            <div class="col-md-8" style="font-family:-apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif">
              <div class="card-body ">
                 <br>
                <p class="card-title  "         > Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :&nbsp; {{student.firstname}} {{student.lastname}}</p>
                <p class="card-text text-muted ">Email&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : &nbsp; {{student.email}}</p>
                <p class="card-text text-muted ">Highest Qualification &nbsp;&nbsp;&nbsp;&nbsp; :&nbsp; {{student.qualification}}</p>
                <p class="card-text text-muted ">Course Applied &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp; {{student.courseapplied}}</p>
                <p>
                  <a id="bttn" role="button" data-bs-toggle="collapse" href="#collapseExample{{i}}"  aria-expanded="false" attr.aria-controls="collapseExample{{i}}">
                    See More
                  </a>
                </p>
                <div class="collapse in" id="collapseExample{{i}}" >
                  <div >
                <p class="card-text text-muted" >Date of Birth &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; {{student.dob}}</p>
                <p class="card-text text-muted ">Gender &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;{{student.gender}}</p>
                <p class="card-text text-muted ">Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; {{student.address}}</p>
                
                <div class="card-body text-end">
                    <button class="btn btn-danger float-right text-center"  (click)="rejectapply(student)" >Reject &nbsp;</button>&nbsp;
                  <button class="btn btn-success float-right text-center" (click)="acceptapply(student)"  >Accept &nbsp;</button>&nbsp;
                  
                  
                  </div>
              </div>
                 
                </div>
              </div>
            </div>
          </div>    
        </div>
       
      </div>
    
    <br>
    </body>